.custom-textarea {
  width: 200px;
  padding: 25px;
  border: 1px solid #d1d5db; /* gray */
  border-radius: 8px;
  min-height: 200px;
  resize: vertical;
  background-color: #ffffff;
  font-size: 14px;
  outline: none;
  margin-top:200px;
  margin-right: 200px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
